# Build Folders
/bin
/obj

# User-specific files
*.user
*.suo
.vscode/
.vs/

# NuGet
/packages
*.nupkg
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# Debug and Log
*.log
*.vspscc
*.vssscc

# Temporary files and caches
[Tt]humbs.db
*.DS_Store
*.tmp
*.bak
*.swp

# Publish configuration
*.Publish.xml

# Local stored settings
*.orig
*.psess
*.vsp
*.vspx
*.coverage
*.cov
